/*Inicio estilos generales */

*{
  font-family:'Segoe UI';
}

.diva{
  background-color: lightgrey;
  text-align: center;
  width: 100%;
  height: 350px;
  padding-top: 80px;
}

.bigt{
  color: #419E3B;
  font-style: bold;
  font-size: 50px;
  margin-top: 100px;

}

.divb{
  background-color: #E8E8E8;
  text-align: left;
  width: 100%;
  height: 450px;
  padding-top: 80px;
  padding-left: 320px;
  font-style: bold;
  font-size: 32px;
  color: #419E3B;

}

.medt{
  color: #419E3B;
  font-size: 45px;
  padding-left: 500px;
  padding-right: 300px;
}

.medt2{
  color: #419E3B;
  font-size: 45px;
  padding-left: 310px;
  text-align: left;
}

.st{
  color: #419E3B;
  font-size: 15px;
  padding-right: 200px;
  text-align: left;
}

.spt{
  color: #419E3B;
  font-size: 15px;
  text-align: left;
  padding-left: 310px;
}

.imgt{
  width: 50px;
  height: 50px;
  padding-left: 80px;
}

.ic{
  text-align: left;
  background-size: 350px 350px;

}

.tablalog{
  align-self: left;
  padding-left: 310px;

}

.divc{
  background-color: white;
  text-align: center;
  width: 100%;
  height: 450px;
}


















/*Inicio estilos navbar*/

nav {
  background-color:rgb(156, 156, 156);
  width: 100%;
  height: 50px;
}

li {
  float: left;
  width: 13%;
  text-align: center;
  list-style: none;
  margin-top: 3px;
}

div a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.logo {
  padding-top: 6px;
  padding-bottom: 6px;
}

.logo-nav {
  width: 30px;
  height: 30px;
}

/*Final estilos navbar*/
