.primdiv{
background-color: #000000;
height: 350px;
width: 100%;
text-align: left;
padding-left: 100px;
padding-top: 80px;
color: white;

}

#h1 .primdiv{
  text-align: center;
  color: white;

}

.secdiv{
background-color:  #5A5A5A;
height: 350px;
align-items: center;

color: white;
padding-left: 100px;
}

#h1{
	align-self: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.clap{
font-size:27px;
color: #D2D2D2;

font-style: bold;
padding-bottom: 30px;
background-color: #D2D2D2;


}

h1.clap{
  color: black;
}

#dinjp {
padding-top: 140px;
}

body {
  margin: 0px;
  font-size: 15px;
  color: #000000;
  background-color: #D2D2D2;
}

/*Final estilos generales*/

