/*Inicio estilos generales */

body {
  margin: 0px;
  font-size: 15px;
  color: #000000;
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*FUENTES*/

@font-face{
  font-family: "military";
  src:url(../fonts/military.ttf);
}
@font-face{
  font-family: "montserrat";
  src:url(../fonts/montserrat-regular.otf);
}
@font-face{
  font-family: "opensans-regular";
  src: url(../fonts/Opensans-Regular.ttf);
}
@font-face{
  font-family: "opensans-semibold";
  src:url(../fonts/OpenSans-Semibold.ttf);
}
/*//FUENTES*/



/*Final estilos generales*/

/*Inicio estilos navbar*/

nav {
  background-color:rgb(156, 156, 156);
  width: 100%;
  height: 50px;
}

li {
  float: left;
  width: 11%;
  text-align: center;
  list-style: none;
  display: block;
}

div a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.logo {
  padding-top: 6px;
  padding-bottom: 6px;
}

.logo-nav {
  width: 30px;
  height: 30px;
  padding-left: 7rem;
  padding-top: 0.5rem;
}

div img {
  width: 30px;
  height: 30px;
  margin-top: -3%;
  margin-left: -80px;
}
/*Final estilos navbar*/

/*CABECERA*/

.cabecera {
  width: 100%;
  height: 800px;
  background-image: url(../img/informatica.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  opacity: 90%;
}

.texto-cabecera{
  text-align: right;
  padding-top: 80px;
  padding-left: 800px;
  width: auto;
  font-size: 40px;
  position: absolute;
  color:#d7d0b7;
  font-family: military;
}
.texto-subcabecera{
  text-align: right;
  padding-top: 10px;
  padding-left: 600px;
  width: auto;
  font-size: 40px;
  position: absolute;
  color:#d7d0b7;
  font-family: opensans-regular;      
}
/*//CABECERA*/




/*Sección "Nuestros productos"*/ precios-->


.comprar {
  padding: 13px;
  padding-left: 20px;
  padding-right: 15px;
  background-color: #808080;
  color:#fff;
}



/*Final Sección "Nuestros productos"*/

