
/*Inicio estilos generales */

body {
  margin: 0px;
  font-size: 15px;
  color: #000000;
  background-color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Final estilos generales*/

/*Inicio estilos navbar*/

nav {
  background-color: #fff;
  width: 100%;
  height: 80px;
}

li {
  float: left;
  width: 13%;
  text-align: center;
  list-style: none;
}

div a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.logo{
  padding-top: 6px;
  padding-bottom: 6px;
}

.texto{
  padding: 30px;
}

/*Final estilos navbar*/