/*Inicio estilos generales */

body {
  margin: 0px;
  font-size: 15px;
  color: #000000;
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Final estilos generales*/

/*Inicio estilos navbar*/

nav {
  background-color:rgb(156, 156, 156);
  width: 125%;
  height: 50px;
}

li {
  float: left;
  width: 13%;
  text-align: center;
  list-style: none;
  margin-top: 3px;
}

div a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.logo {
  padding-top: 6px;
  padding-bottom: 6px;
}

.logo-nav {
  width: 30px;
  height: 30px;
}

/*Final estilos navbar*/

/*Sección "Nuestros productos"*/

.tabla{
  padding-top: 30px;
  text-align: center;
  background-color: #00ffff;
}

td{
  width: 160px;
  height: 100px;
}



/*Final Sección "Nuestros productos"*/